html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
}

.min-h-screen {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}
